<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-model</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="vmodel">
        <form v-on:submit.prevent="formHandle">
            <label> First Name:</label>
            <input v-model="formData.firstName" type="text"><br><br>
            <label> Last Name:</label>
            <input v-model="formData.lastName" type="text"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="main.js"></script>
</body>
</html>